.menu {
    margin-left: 100px;
    flex-grow: 2;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 30px;
    font-size: 600;
    a {
        color: #343f44;
        text-decoration: none;
        padding: 5px;
    }

    a.active {
        color: white;
        background-color: #fa593c;
    }
}