header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #343f44;
    font-size: 28px;
}

.logo i {
    color: #2e86fd;
    font-size: 35px;
}

.menu {
    flex-grow: 2;
    color: #343f44;
    margin-left: 80px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li{
    margin-right: 30px;
    font-size: 600;
}

.menu li:hover {
    color: #2e86fd;
}

.outline-button {
    padding: 10px 20px;
    border: solid 2px #2e86fd;
    background-color: transparent;
    color: #2e86fd;
    font-weight: bold;
}