header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #343f44;
    font-size: 28px;
}

.logo i {
    color: #2e86fd;
    font-size: 35px;
}